.showcase__item a
  text-decoration: none

.project-item
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  min-height: 80px
  color: #fff
  text-align: center
  min-height: 120px
  cursor: pointer
  transition: background 0.3s ease-out
  width: 100%

  &:hover
    background: rgba(255, 255, 255, 0.3)

  h3
    font-size: 24px
    font-family: Ok

  p
    font-size: 16px
    font-family: OkLight
