#bars {
  height: 30px;
  width: 40px;
  position: absolute;
}

.bar {
  background: rgba(255, 255, 255, 0.3);
  bottom: 1px;
  height: 14px;
  position: absolute;
  width: 3px;
  /* transition: height 0.4s cubic-bezier(0.15, 0.9, 0.34, 0.95); */
}

#bars .bar {
  animation: endSound 0.8s ease-out;
  animation-fill-mode: forwards;
}

#bars.animated .bar {
  animation: sound 0ms -800ms linear infinite alternate;
  animation-fill-mode: both;
  opacity: 1;
  background: rgba(255, 255, 255, 0.6);
}

@keyframes endSound {
  to {
    opacity: 0.35;
    height: 3px;
  }
}

@keyframes sound {
  0% {
    /* opacity: 0.35; */
    height: 3px;
  }
  100% {
    /* opacity: 1; */
    height: 28px;
  }
}

.bar:nth-child(1) {
  left: 1px;
  animation-duration: 474ms !important;
  animation-delay: -0ms !important;
}
.bar:nth-child(2) {
  left: 5px;
  animation-duration: 433ms !important;
  animation-delay: -200ms !important;
}
.bar:nth-child(3) {
  left: 9px;
  animation-duration: 407ms !important;
  animation-delay: -150ms !important;
}
.bar:nth-child(4) {
  left: 13px;
  animation-duration: 458ms !important;
  animation-delay: -50ms !important;
}
.bar:nth-child(5) {
  left: 17px;
  animation-duration: 400ms !important;
  animation-delay: -230ms !important;
}
.bar:nth-child(6) {
  left: 21px;
  animation-duration: 427ms !important;
  animation-delay: -90ms !important;
}
.bar:nth-child(7) {
  left: 25px;
  animation-duration: 441ms !important;
  animation-delay: -210ms !important;
}
.bar:nth-child(8) {
  left: 29px;
  animation-duration: 419ms !important;
  animation-delay: -100ms !important;
}
.bar:nth-child(9) {
  left: 33px;
  animation-duration: 487ms !important;
  animation-delay: -12ms !important;
}
.bar:nth-child(10) {
  left: 37px;
  animation-duration: 442ms !important;
  animation-delay: -300ms !important;
}
